{% include 'base.html' %} {% block contents %}
<div class="bg-lime-200 min-h-screen py-8">
  {% include 'snippets/nav_user.html' %}

  <div class="container mx-auto text-center mt-12">
    <h2 class="text-3xl font-bold text-gray-800 mb-8">History Pengaduan</h2>
  </div>

  <div class="container mx-auto">
    <div class="space-y-8">
      {% for pengaduan in pengaduans %}
      <div
        class="relative flex items-center bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition"
      >
        <div class="w-1/3">
          <img
            class="w-full h-60 rounded-md object-cover"
            src="{{ pengaduan.foto.url }}"
            alt="{{ pengaduan.isi_aduan|truncatechars:30 }}"
          />
        </div>

        <div class="w-2/3 ml-6">
          <p class="text-gray-700 text-lg">
            <span class="font-bold">Tanggal:</span> {{ pengaduan.tgl_pengaduan}}
          </p>
          <p class="text-gray-700 text-lg">
            <span class="font-bold">Jenis Laporan:</span> {{pengaduan.jenis_laporan }}
          </p>
          <p class="text-gray-700 text-lg">
            <span class="font-bold">Isi Laporan:</span> {{ pengaduan.isi_aduan}}
          </p>

          {% if pengaduan.tanggapan_set.exists %}
          <div class="mt-2">
            <p class="font-bold text-gray-800">Tanggapan:</p>
            <ul class="list-disc list-inside text-gray-700">
              {% for tanggapan in pengaduan.tanggapan_set.all %}
              <li>
                {{ tanggapan.tanggapan }} - {{ tanggapan.petugas.username }} ({{tanggapan.tgl_tanggapan }})
              </li>
              {% endfor %}
            </ul>
          </div>
          {% else %}
          <p class="text-gray-600 italic">Belum ada tanggapan.</p>
          {% endif %}

          <p class="mt-4 relative right-1 text-right text-lime-700 font-semibold text-lg">
            Status: {{ pengaduan.status }}
          </p>
        </div>

        <div class="absolute top-0 right-0 p-4">
          <form
            action="{% url 'masyarakat:pengaduan_delete' pengaduan.pk %}"
            method="post"
            id="delete-form-{{ pengaduan.pk }}"
          >
            {% csrf_token %}
            <button
              type="submit"
              onclick="return confirmDelete({{ pengaduan.pk }})"
              class="text-red-600 font-bold hover:text-red-800 transition"
              title="Hapus Pengaduan"
            >
              ✕
            </button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<footer class="bg-zinc-600 text-white text-center py-3 mt-10">
  <p>
    Pengaduan Masyarakat by
    <a href="https://github.com/yusrb" target="__blank" class="underline"
      >yusrb</a
    >
  </p>
</footer>

<script>
  function confirmDelete(pengaduanId) {
    return confirm("Apakah Anda yakin ingin menghapus pengaduan ini?");
  }
</script>
{% endblock %}
