{% include 'base.html' %}

{% block contents %}
  <div class="container mx-auto p-6">
    <h1 class="text-3xl font-semibold text-center text-gray-900 mb-6">Login Masyarakat</h1>

    <form action="" method="post" class="bg-white p-8 pt-5 rounded-lg shadow-md max-w-md mx-auto space-y-4">
      {% csrf_token %}

      <div>
        <label for="id_username" class="block text-lg font-medium text-gray-700">Username</label>
        {{ form.username }}
        {% if form.username.errors %}
          <div class="text-sm text-red-600">
            {% for error in form.username.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div>
        <label for="id_password" class="block text-lg font-medium text-gray-700">Password</label>
        {{ form.password }}
        {% if form.password.errors %}
          <div class="text-sm text-red-600">
            {% for error in form.password.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="text-sm text-red-600">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>

      <button type="submit" class="w-full bg-lime-600 text-white font-semibold py-2 px-4 rounded-lg hover:bg-lime-700 transition duration-300 ease-in-out">
        Login
      </button>
    </form>

    <p class="text-center mt-4 text-gray-600">
      Belum punya akun? <a href="{% url 'auth:user_register' %}" class="text-lime-600 hover:text-lime-700">Register</a>
    </p>
  </div>
{% endblock %}
