<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'petugas:petugas_dashboard' %}"
    >Petugas Dashboard</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'petugas:petugas_dashboard' %}"
          >Belum Terjawab</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'petugas:pengaduan_desposisi_view' %}"
          >Desposisi</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'petugas:pengaduan_proses_view' %}"
          >Proses</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'petugas:pengaduan_selesai_view' %}"
          >Selesai</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'petugas:pengaduan_tolak_view' %}"
          >Tolak</a
        >
      </li>
      <li class="nav-item">
        <form action="{% url 'auth:petugas_logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
