<!-- Navbar -->
<nav class="bg-gradient-to-br from-lime-200 shadow-md p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="{% url 'petugas:petugas_dashboard' %}" class="text-3xl font-bold text-gray-800 hover:text-gray-900 transition-all duration-300">
      Petugas Dashboard
    </a>

    <div class="hidden md:flex space-x-6 items-center">
      <a href="{% url 'petugas:petugas_dashboard' %}" class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out">Belum Terjawab</a>
      <a href="{% url 'petugas:pengaduan_desposisi_view' %}" class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out">Desposisi</a>
      <a href="{% url 'petugas:pengaduan_proses_view' %}" class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out">Proses</a>
      <a href="{% url 'petugas:pengaduan_selesai_view' %}" class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out">Selesai</a>
      <a href="{% url 'petugas:pengaduan_tolak_view' %}" class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out">Tolak</a>

      {% if request.user.level == 'admin' %}
      <a href="{% url 'petugas:log_aktivitas_view' %}" class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out">Log Aktivitas</a>
      {% endif %}
      
      <form action="{% url 'auth:petugas_logout' %}" method="post" class="inline">
        {% csrf_token %}
        <button type="submit" class="bg-red-500 text-white px-6 py-2 rounded-full shadow-md hover:bg-red-600 transition duration-300 ease-in-out">
          Logout
        </button>
      </form>
    </div>

    <div class="md:hidden flex items-center space-x-2">
      <button class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</nav>
